*{
    padding: 0;
    margin: 0;
    background: #0F1320;
}
.container{
    padding: 50px; 
    margin: 50px;  
}
/* top wrapper */
.wrapper {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.top-section {
    margin: 227px 0px 100px;
}
ol {
    margin-top: 33px;
    font-family: Century Gothic;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: left;
margin-left: 20px;
list-style: decimal-leading-zero;

}
li{
    padding: 5px 12px 0;
}
span {
    box-shadow: 0px 15px 25px 0px #22A75D40;
    background-color: #22A75D;
    padding: 14px;
    border-radius: 50%;
    color: #0F1320;
    font-family: Century Gothic;
font-size: 26px;
font-weight: 700;
line-height: 36px;
text-align: center;


}
.second span{
    box-shadow: 0px 15px 25px 0px #2278D440;
background: #2278D4;
padding: 14px;
border-radius: 50%;
}
.third span{
    box-shadow: 0px 15px 25px 0px #FFD10040;
    background: #FFD100;
    padding: 14px;
border-radius: 50%;
}
.fourth span{
    box-shadow: 0px 15px 25px 0px #E2061340;
    background: #E20613;

}
.first  ::marker{
    
    color: #22A75D;

}
.second ::marker{
    
  color: #2278D4;


}
.third  ::marker{
    
    color: #FFD100;

}.fourth ::marker{
    
    color:  #E20613;

}

@media (max-width:1039px) {
    main::before{
 display: none;
    }
    main::after{
   display: none;
    }  
    .top-section{
        margin-top: 0;
    }

    
}
@media (max-width:768px) {
    .wrapper{
        display: block;
    }
    .first,
    .second,
    .third,
    .fourth{
        margin-top: 60px;
    }
    .text-wrapper{
        display: none;
    }
    .image-wrapper img{
        background: #0039FF;
        width: 380px;
height: 428px;
top: 1263px;
gap: 0px;
border-radius: 25px 25px 0px 0px;
opacity: 0px;
margin-left: 0px;
background: none;



    }

}

/* bottom wrapper */

.bottom-wrapper,
button
{
    color: #ffff;
}
.logo-wrapper
{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.image-wrapper img{
    width: 500px;
    height: 100%;
    background: linear-gradient(59deg, #06279d, #88b6e7);
    border-radius: 50px;
    margin-left: 60px;
    
}
.bottom-wrapper{
    display: flex;
}
h2{
    font-family: Inter;
font-size: 38px;
font-weight: 600;
line-height: 54px;
text-align: left;
}
.logo-wrapper img{
    width: 52.7px;
height: 32.87px;
}

p{
    font-family: Century Gothic;
    font-size: 16px;
    text-align: left;
    line-height: 20px;
    padding: 10px;
    
}
.highlight{
    font-weight: 700;
    line-height: 24px;
}
button {
    border: 2px solid #22A75D;
    padding: 10px 20px;
    border-radius: 23px;
    font-family: Century Gothic;
font-size: 14px;
font-weight: 700;
line-height: 17.17px;
text-align: center;
margin: 13px 0;
}
.text-wrapper {
    width: 50%;
}
.image-wrapper {
    width: 50%;
}
.bottom-section {
    margin: 100px 0;
}

/* curve pattern */
main::before{
    position: absolute;
    content: " ";
    width: 100%;
    height: 150px;
    top: 0;
    background: #ffff;
    border-bottom-left-radius: 114px;
}
main::after{
    position: absolute;
    content: " ";
    width: 100%;
    height: 150px;
    bottom: -800px;
    background: #ffff;
    border-top-right-radius: 114px;
}